<form asp-action="GiaiPTB1">
    <label>He So A</label>
    <input type="text" name = "hesoA">
    <br>
    <label>He So B</label>
    <input type="text" name = "hesoB">
    <br>
    <input type="submit" value = "Giai phhuong trinh">

</form>
<h2>@ViewBag.Thongbao</h2>